.App {
  text-align: center;
}

.App-header {
  background-color: rgb(78, 70, 92);
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

/* testing start here */
.catImage {
  display: inline-block;
}

img {
  padding: 20px 15px 0px 15px;
  max-width: 250px;
  max-height: 333.33px;
}

.descriptionContainer {
  padding: 20px 15px 0px 15px;
  min-height: 333.33px;
  min-width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.imageDiv {
  min-height: 333.33px;
  min-width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

